html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: black;
}

.bottomright {
    color: rgb(179, 175, 175);
    position: absolute;
    bottom: 20px;
    right: 16px;
}

a {
    text-decoration: none;
    color: rgb(179, 175, 175);
}

@media only screen and (max-width: 600px) {
    .bottomright {
        color: rgb(179, 175, 175);
        position: absolute;
        bottom: 70px;
        /* padding-top: -20px; */
        text-align: center;
    }
}